In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/student/mycode/python-data-cleaning/datasets/british_library_books_images.csv')
df.head()

In [ ]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

df.drop(to_drop, inplace=True, axis=1)
df.head()

In [ ]:
df['Identifier'].is_unique

In [ ]:
df = df.set_index('Identifier')    # same as  df.set_index('Identifier', inplace=True)

In [ ]:
df.head()

In [26]:
df.loc[206]
df.iloc[0]

# Start at the label 1905, include the column "Date of Publication" and list 10 rows
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [27]:
regex = r'^(\d{4})'

In [28]:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [29]:
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype

dtype('float64')

In [30]:
df['Date of Publication'].sum() / len(df)

1639.0848316640522

In [32]:
df['Place of Publication'].head(10)

df.loc[4157862]

df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                1834.0
Publisher                                                Mackenzie & Dent
Title                   An historical, topographical and descriptive v...
Author                                              Mackenzie, E. (Eneas)
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

In [33]:
pub = df['Place of Publication']

In [34]:
london = pub.str.contains('London')  # this is parts of the dataframe that contain "London"
london[:5]   # return the first 5 results

/tmp/ipykernel_11852/212005064.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  london[:5]   # return the first 5 results

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [36]:
oxford = pub.str.contains('Oxford')  # this is part of the dataframe that contain "Oxford"
oxford[:5]

/tmp/ipykernel_11852/3562410296.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  oxford[:5]

Identifier
206    False
216    False
218    False
472    False
480    False
Name: Place of Publication, dtype: bool

In [37]:
df['Place of Publication'] = np.where(london, 'London',          # if row is in london then replace with "London", else
                                      np.where(oxford, 'Oxford', # if row is in oxford then replace with "Oxford", else
                                               pub.str.replace('-', ' ')))   # if string has "-" replace with " "

In [38]:
df['Place of Publication'].head(10)

Identifier
206     London
216     London
218     London
472     London
480     London
481     London
519     London
667     Oxford
874     London
1143    London
Name: Place of Publication, dtype: object

In [39]:
df.loc[4157862]

df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                1834.0
Publisher                                                Mackenzie & Dent
Title                   An historical, topographical and descriptive v...
Author                                              Mackenzie, E. (Eneas)
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object